// Admonition blocks
.admonitionblock {
    td.icon {
        width: 20%;
    }
}

.colist {
    td:first-of-type {
        width: 15%;
    }
}

// Multimedia blocks
.videoblock {
    margin: 0 auto;
}