// The default configuration of the theme.
// If you want to customize it, create a file named "config.scss" 
// in the `assets/scss` of your Hugo directory.

// Also take note that the default config uses the !default flag for the fallback values.
// Omit it in your own theme configuration.
// https://sass-lang.com/documentation/variables#default-values

// Core appearance options
$background: #080a0e !default;
$foreground: #ffffff !default;
$borderColor: $foreground !default;
$accent: $foreground !default; 
$fontFamily: sans-serif !default;
$fontSize: 1.2rem !default;
$iconSize: 2rem !default; 

// 2nd theme variables
$background-2nd: $foreground !default;
$foreground-2nd: $background !default;
$accent-2nd: invert($accent, $weight: 100%) !default;
$fontFamily-2nd: $fontFamily !default;

// Main breakpoints
$phoneWidth: 600px !default;
$desktopWidth: 1024px !default;

// Content appearance options
$maxWidth: 900px !default;
$sidePadding: 1.25rem !default;
$contentPadding: 1rem !default;
$verticalRhythm: 2rem !default;

// Border options
// It only missing the color so you should provide one.
$primaryBorder: solid 1px !default;
$secondaryBorder: dashed 1px !default;
