// MathJax
.MathJax_Preview:empty {
    margin: 0 !important;
    padding: 0 !important;
}

// Medium Zoom
.medium-zoom-overlay {
    height: 100%;
}

// PrismJS style override
pre[class*="language-"] {
    margin: 0;
}

code[class*="language-"] {
    border: 0;
}
