<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>
<div class="wrapper">
  {{ partial "header.html" . }}
  <main class="content">
    {{ block "main" . }}
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
</div>

{{ partial "scripts/toggle-node.html" . }}
</body>
</html>