{{- define "main" -}}

<div class="site__page">
  {{- if $.Site.Params.enableBreadcrumbs -}}
  {{- partial "optional/breadcrumbs.html" (dict "context" . "class" "site__breadcrumbs" "childClass" "site__breadcrumb") -}}
  {{- end -}}

  {{- $date := .Date.Format "2006-01-02" }}
  {{ if (and $.Site.Params.enableContentReaderMode (ne .File.Dir "/")) }}
    <h1 class="page__title--reader">{{ .Title }}</h1>
    <div class="page__meta">
      {{ with .Params.author }}
      <p class="page__guest-author">By <a href="{{ with .site }}{{ . }}{{ end }}">{{ .name }}</a></p> 
      {{ end }}
      on <date datetime="{{ $date }}">{{ $date }}</date>
      {{ if (ne .Lastmod .PublishDate) }}
      (updated on {{ .Lastmod.Format "2006-01-02" }})
      {{ end }}
    </div>
  {{ else }}
  <h1 class="page__title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>

  <div class="page__meta">
    {{ if .Params.Date }}
    <date class="page__date" datetime="{{ .Date.Format "2006-01-02" }}">
    {{ .Date.Format "2006-01-02" }}
    </date>
    {{ end }}
    {{ with .Params.Author }}
    <span class="page__author">::
      {{ . }}
    </span>
    {{ end }}
  
    {{ if .Params.tags }}
    <p class="page__tags">
      {{ range .Params.tags }}
      #<a class="page__tag" rel="tag" href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
      {{ end }}
    </p>
    {{ end }}
  </div>
{{ end }}

{{- with .Params.Cover -}}
<img src="{{ . | absURL }}" class="page__cover" />
{{- end -}}

{{ if .Params.toc }}
<div class="page__toc">
  {{ .TableOfContents }}
</div>
{{ end }}
</div>

<article class="page__content" {{ with $.Site.Params.contentIsStyled }}data-is-styled="true"{{ end }} {{ with $.Site.Params.useContentCounters }}data-use-content-counters="true"{{ end }}>
  {{ .Content }}
</article>

{{- if $.Site.Params.enableContentPagination -}}
{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
  <div class="pagination__header">
    {{ with $.Site.Params.readOtherPostsLabel }}{{ . }}{{ else }}{{ i18n "read_more" }}{{ end }}
  </div>
  <div class="pagination__buttons">
    {{ if .NextInSection }}
    <a class="pagination__button previous" rel="prev" href="{{ .NextInSection.Permalink }}">
      <span class="button icon">←</span>
      <span class="button text">{{ .NextInSection.Title }}</span>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
    {{ if .PrevInSection }}
    <a class="pagination__button next" rel="next" href="{{ .PrevInSection.Permalink }}">
      <span class="button text">{{ .PrevInSection.Title }}</span>
      <span class="button icon">→</span>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
  </div>
</div>
{{ end }}
{{- end -}}

{{- with .File -}}
  {{ if ne .Dir "/" }}
    {{ partial "optional/comments.html" $ }}
  {{- end -}}
{{- end -}}

{{- end -}}
