<!-- PROJECTS section -->
{{- with $.Site.Data.projects -}}
<section class="projects">
    <h2>{{ i18n "projects_header" }}</h2>
    <div class="project">
        {{- $projects := (sort . "id" "asc") -}}
        {{- range $projects -}}
        <h3 class="project__name">{{ with .name }}{{ . }}{{ else }}{{ .id }}{{ end }}</h3>
        {{- if .url -}}
        <p class="project__link">LINK: <a href="{{ .url }}" target="_blank" rel="noopener">{{ .url }}</a></p>
        {{- end -}}

        {{- if .repo -}}
        <p class="project__repo">REPO: <a href="{{ .repo }}" target="_blank" rel="noopener">{{ .repo }}</a></p>
        {{- end -}}

        {{- if .description -}}
        <p class="project__description">{{- .description -}}</p>
        {{- end -}}
        {{- end -}}
    </div>
</section>
{{- end -}}