<header class="site__header">
    <div class="header__logo">
        <a class="header__title" href="{{ $.Site.BaseURL | relLangURL }}">{{ $.Site.Title }}</a>
        {{- if $.Site.Params.enableThemeToggle }}
        <button aria-label="theme-toggle" role="button" onclick="document.documentElement.classList.toggle('theme-2'); window.localStorage.setItem('theme', document.documentElement.classList.contains('theme-2') ? '2' : '1');">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.514 4.486-10 10-10v20c-5.514 0-10-4.486-10-10z"/></svg>
        {{- end -}}
    </div>

    <nav class="site__links">
        {{- range $.Site.Menus.main -}}
            <a class="site__link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{- end -}}
    </nav>
</header>