<div class="posts">
    {{- $blogIcons := "blog-icons.svg" | absURL -}}
    {{- $isListSectionsOnHome := (and .IsHome (eq $.Site.Params.listFoldersOnHome true)) -}}
    {{- $pages := cond ($isListSectionsOnHome) .Site.Sections .Data.Pages -}}
    {{- range (.Paginate $pages).Pages -}}
    <div class="post">
        <div class="post__header">
        <h1 class="post__title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        {{- with .File -}}
        <svg class="post__icon">
            {{- $isFolder := or (eq .BaseFileName "_index") (eq .BaseFileName "") -}}
            {{- $contentType := cond $isFolder "folder" "file" -}}
            <use xlink:href="{{ $blogIcons }}#{{ $contentType }}"></use>
        </svg>
        {{- end -}}
        </div>
        <div class="post__meta">
        <span class="post__date">
            {{ .Date.Format "2006-01-02" }}
        </span>
        {{- with .Params.Author -}}<span class="post__author">::
            {{ . }}</span>{{- end -}}
        </div>

        {{- if .Params.categories -}}
        <p class="post__category">{{ index .Params.categories 0 }}</p>
        {{- end -}}
    
        {{- if .Params.tags -}}
        <div class="post__tags">
        {{ range .Params.tags }}
        #<a class="post__tag" href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
            {{- . -}}
        </a>&nbsp;
        {{ end }}
        </div>
        {{- end -}}
    
        {{- with .Params.Cover -}}
        <img src="{{ . | absURL }}" class="post__cover" />
        {{- end -}}
    
        <div class="post__content">
        {{ if .Description }}
        {{ .Description | markdownify }}
        {{ else }}
        {{ .Summary | markdownify }}
        {{ end }}
        </div>
    
        {{- if not .Params.showFullContent -}}
        <div>
        <a class="read-more button" href="{{.RelPermalink}}">{{ with $.Site.Params.readMore }}{{ . }}{{ else }}Read more{{ end }} →</a>
        </div>
        {{- end -}}
    </div>
    {{- end -}}
    
    {{- partial "pagination.html" . -}}
</div>