{{- $blogIcons := "blog-icons.svg" | absURL -}}

{{ $pages := .Pages }}
{{- $isListSectionsOnHome := (and .IsHome (eq $.Site.Params.listSiteSectionsOnHome true)) -}}

{{ if $isListSectionsOnHome }}
{{- $pages = .Site.Sections -}}
{{ else if .IsHome }}
{{ $pages = where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{ end }}

<section class="site__pages">
    {{ if .IsHome -}}
        <h1>{{ i18n "site_pages_header" }}</h1>
    {{- end -}}

    <ul class="pages__list">
    {{- range (.Paginate $pages).Pages -}}
    <li>
        <article class="site__page--compact">
            <h1 class="page__title--compact">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <div class="page__meta--compact">
                <date class="page__date" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</date>
                {{ if ne .PublishDate .Lastmod -}}
                (updated on <time class="page__modified-date" datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2006-01-02" }}</time>)
                {{- end -}}
            </div>
        </article>
    </li>
    {{- end -}}
    </ul>
    
    {{- partial "pagination.html" . -}}
</section>
