{{ $array := slice }}

{{- if $.Site.Params.enableLazySyntaxHighlighting -}}
    {{- if (eq $.Site.Params.syntaxHighlighter "prismjs") }}
        {{ $highlighter := resources.Get "js/lib/prism.js" }}
        {{ $highlighterStyle := resources.Get "css/prism.css" | minify }}

        <link rel="stylesheet" href="{{ $highlighterStyle.Permalink }}"> 
        {{ $array = $array | append $highlighter }}    
    {{- else -}}
        {{ $highlighter := resources.Get "js/lib/highlight.pack.js" }}
        {{ $highlighterStyle := resources.Get "css/highlightjs.css" | minify }}
    
        <link rel="stylesheet" href="{{ $highlighterStyle.Permalink }}">
        {{ $array = $array | append $highlighter }}
    {{- end -}}
{{- end -}}

<!-- MathJax -->
{{ if $.Site.Params.enableMathjax -}}
    {{ partial "config/mathjax.html" . }}
    {{ if $.Site.Params.setMathjaxToV2 -}}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/latest.js?config=TeX-MML-AM_CHTML" async></script>
    {{- else -}}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        {{- if $.Site.Params.useMathjaxOffline -}}
            {{ $mathjaxLib := resources.Get "js/lib/mathjax.js" | minify }}
            <script type="text/javascript" id="MathJax-script" async src="{{ $mathjaxLib.Permalink }}"></script>
        {{- else -}}
            <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        {{- end -}}
    {{- end -}}
{{- end -}}

<!-- The custom script -->
{{ $global := resources.Get "js/toggle-node.js" | minify }}
{{- $array = $array | append $global -}}

{{- if $.Site.Params.enableSiteSearch -}}
{{ $searchEngineLib := resources.Get "js/lib/fuse.min.js" | minify  }}
{{ $searchEngineSearchScript := resources.Get "js/search-post.js" | resources.ExecuteAsTemplate "js/_search.js" .| minify }}
{{ $searchEngine := slice $searchEngineLib $searchEngineSearchScript | resources.Concat "js/_search.js" }}
{{ $array = $array | append $searchEngine }}
{{- end -}}

{{ $script := $array | resources.Concat "js/script.js" }}
<script type="text/javascript" src="{{ $script.Permalink }}" async></script>

{{ if (and (or (eq $.Site.Params.syntaxHighlighter "highlighterjs") (not $.Site.Params.syntaxHighlighter)) $.Site.Params.enableLazySyntaxHighlighting) -}}
<script>hljs.initHighlightingOnLoad();</script>
{{- end -}}

